body{
	font-size: 20px;
	background-color:pink;
}
#nave{
    width: 100%;
    height: 50px;
    background: gray;
}
ul li{
    list-style: none;
    float:left;
    width: 16%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
#left{
    width: 50%;
    height: 500px;
    float: left;
}
#right{
    width: 50%;
    height: 500px;
    float: left;
}
#a{
    width: 16%;
    height: 150px;
    float: left;

}
#b{
    width: 16%;
    height: 150px;
    float: left;
 
}

#c{
    width: 16%;
    height: 150px;
    float: right;
    
}